<!DOCTYPE html>
<html>
<head>
    <title>Crud Task</title>
</head>
<body>
<h1> <%= title %>  <a href="/">home</a> </h1>

<form action="/create" method="post">
    <label for="name">Name</label>
    <input id="name" type="text" name="name" placeholder="Enter name" />
    <label for="age">Age</label>
    <input id="age" type="number" min="1" name="age" placeholder="Enter age" />
    <button style="background-color: blue; color: white" type="submit">Save</button>
</form>
</body>
</html>